@font-face {
  font-family: Inder;
  src: url(../fonts/Inder-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #FFE6C7;
  display: block;
}

h2 {
  padding-left: 0.5rem;
  margin-bottom: 0.6rem;
}

textarea:focus {
  box-shadow: none!important;
  /* border: none!important; */
}

trix-editor {
  height: calc(100vh - 6rem - 54px - 260px);
  color: #1a1a1a!important;
  background-color: #FFF;
}

.trix-button {
  background-color: #FFF!important;
}

.trix-active {
  background-color: #cbeefa!important;
}

.inder {
  font-family: Inder;
}

.poppins {
  font-family: Poppins;
}

.white {
  color: #FFF;
}

.brown {
  color: #454545;
}

.light-brown {
  color: #FFA559;
}

.cream {
  background: #FFE6C7;
}

input:focus {
  box-shadow: none!important;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card form {
  margin: 0;
}

.btn:active {
  box-shadow: none!important;
}

.btn-primary {
  color: #FFF!important;
  background-color: #FFA559;
  border-color: #FFA559;
}

.btn-primary:hover {
  background-color: #eb9752;
  border-color: #eb9752;
}

.btn-outline-primary {
  color: #FFA559!important;
  border-color: #FFA559;
}

.btn-outline-primary:hover {
  color: #FFF!important;
  background-color: #FFA559!important;
  border-color: #FFA559;
}

/* .btn-outline-primary:enabled {
  box-shadow: none!important;
  color: #FFF!important;
  background-color: #eb9752!important;
  border-color: #eb9752;
} */

.btn-info, .btn-info:hover {
  border-color: #454545;
}

.alert {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -28px;
}

nav {
  background-color: #FFA559;
  height: 54px;
}

nav .container {
  width: 0;
}

.container {
  height: calc(100vh - 6rem - 54px);
}

.card {
  overflow-y: scroll;
  height: calc(100vh - 6rem - 54px);
  /* padding: 1.5rem; */
  color: #FFF;
  background-color: #454545;
  border-color: #454545;
  border-width: 1.5rem;
  border-radius: 13px;
}

@media(max-width: 991px) {
  .container {
    height: auto;
    margin-bottom: 3rem;
  }

  .card {
    height: auto;
  }
}

.card textarea {
  height: calc(100vh - 6rem - 54px - 48px)!important;
}

.card h4 {
  font-weight: 300;
}

.card h3 {
  font-weight: 600;
}

.card a {
  color: #454545;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 300;
  background-color: #FFF;
  border-radius: 30px;
}

.card a:hover {
  background-color: #DDD;
}

.form-group textarea {
  height: 28vh;
  resize: none;
  border-radius: 10px;
}

.white-bar {
  padding: 15px 20px;
  margin-bottom: 1.5rem;
  background-color: #FFF;
  border-radius: 10px;
}

.white-bar * {
  color: #454545;
}

.white-bar form {
  display: grid;
}

.white-bar .btn-danger {
  color: #FFF!important;
  position: relative;
  font-size: 14px;
  height: 20px;
  width: 35px;
  top: -15px;
  justify-self: flex-end;
  padding: 0;
  margin-bottom: -30px;
  margin-right: -20px;
  border-bottom-left-radius: 9.25px;
  border-top-right-radius: 9.25px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list {
  height: inherit;
}

.hidden {
  display: none!important;
}

/* .white-bar .hidden {
  display: none!important;
} */

.hamburger {
  display: flex;
  color: #FFF;
  font-size: 25px;
  margin-left: 1rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.navbar-nav {
  width: 200px;
}

nav {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.nav-link {
  height: 54px;
}

.nav-link:hover {
  color: #FFF!important;
  background-color: #454545;
}

.sidebar {
  display: flex!important;
  position: absolute;
  height: 100vh;
  top: 0;
  left: -205px;
  background-color: #454545;
  z-index: 100;
  box-shadow: 0 0 4px 0 #000;
  border-width: 1px;
  transition: 0.3s ease-in-out;
}

.sidebar-active {
  left: 0px;
  display: none;
}

.sidebar li {
  height: 54px;
}

.nav-item h1 {
  margin: 0;
  font-family: Inder;
  font-size: 32px;
  color: #FFF;
}

.sidebar .nav-link {
  font-family: Poppins;
  font-size: 20px;
  letter-spacing: -0.02em;
  padding: 0 0 0 25px!important;
  margin: 15px 0;
  color: #FFF!important;
}

/* #homeTransactionsChart div {
  display: flex;
  align-items: start;
} */
